<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Twinn Scan.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BA2E6CF887005942B10D5A2306CDAA8905C2F04D</string>
				<key>dateExpires</key>
				<string>07/10/2023</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7NWMGZHA9X.com.tooliqa.twinapp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7NWMGZHA9X</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>RTABMapApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0451f30d-9bd9-4bdb-ac73-44980aa4f031</string>
				<key>dateExpires</key>
				<string>25/11/2023</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.tooliqa.twinapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7NWMGZHA9X</string>
				<key>name</key>
				<string>Tooliqa Inc</string>
			</dict>
			<key>versionNumber</key>
			<string>0.20.19</string>
		</dict>
	</array>
</dict>
</plist>
